<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <% if current_user %>
    <li><%= link_to 'View', user_path(current_user) %></li>
    <li><%= link_to 'Edit', edit_user_registration_path %></li>
    <li class="divider"></li>
    <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
  <% end %>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <% if current_user %>
    <li><%= link_to 'View', user_path(current_user), class:"teal-text" %></li>
    <li><%= link_to 'Edit', edit_user_registration_path, class:"teal-text" %></li>
    <li class="divider"></li>
    <li><%= link_to 'Logout', destroy_user_session_path, class:"teal-text", method: :delete %></li>
  <% end %>
</ul>
<nav>
  <div class="nav-wrapper teal darken-2">
    <div class="container">
      <%= link_to '<i class="large material-icons">blur_linear</i> 
                  MindBook'.html_safe, root_path, class: "brand-logo" %>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Posts', posts_path, class:"grey-text text-lighten-3" %></li>
        <li><%= link_to 'Friends', "#", class:"grey-text text-lighten-3" %></li>
        <% if current_user %>
          <!-- Dropdown Trigger -->
          <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
        <% else %>
          <li><%= link_to 'Log in', new_user_session_path, class:"grey-text text-lighten-3" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><%= link_to 'Posts', posts_path, class:"teal-text" %></li>
  <li><%= link_to 'Friends', "#", class:"teal-text" %></li>
  <% if current_user %>
    <li class="divider"></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-trigger teal-text" href="#!" data-target="dropdown2">Profile<i class="material-icons right">arrow_drop_down</i></a></li>
  <% else %>
    <li><%= link_to 'Log in', new_user_session_path, class:"teal-text" %></li>
  <% end %>
</ul>
